html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

html {
  overflow: hidden;
}

* {
  cursor: url("../assets/img/arrow.png") 11 11, auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* mouse */
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

::selection {
  background: #c4c9c2;
}
::-moz-selection {
  background: #c4c9c2;
}

.main-content .scrollx {
  overflow-x: hidden;
}

.main-content .project {
  scroll-snap-align: start;
}
.main-content .project_title {
  display: block;
  margin: auto;
  text-align: center;
}
.main-content .project_title h1 {
  font-size: 96px;
  line-height: 0.8;
}

/* MEDIA QUERIES */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --size-interface-top: 1.8rem;
  }
  #section-icon {
    width: 1.8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* vertical */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-height: 667px) {
  :root {
    --size-interface-left: 1rem;
  }
}
